doctype html

html(lang="en")

  head
    title Grigorij
    link(
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    )
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
  
  body.d-flex.flex-column.h-100
  .container
    .row.align-items-center.p-5
      .col-lg-5.p-5#image
        img.img-fluid.rectangle(src="../assets/grigorij.jpg")

      .col-lg-7.p-3#content
        h1.text-center.text-lg-left.display-1
          | Grigorij Kottovitch 🐈

        p.lead
          | Purrrr I'm Grigorij. I am naturally sweet and cute. I accept treats like tuna and tiny snacks. I prefer sleep more than anything. I am outdoorsy and spend some time on a roof top.
